/* misc.css */
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.transparent {
    opacity: 0.5;
    padding: 20px;
    background-color: #dcdcdc;
    margin: 20px auto;
    width: 80%;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}
